<p>
  <strong><%= comment.commenter %></strong>
  (<%= link_to 'Delete', [comment.article, comment], method: :delete, data: { confirm: "Are you sure?" } %>)<br>
  <textarea style="height: 100px; width: 1200px; resize: none"><%= comment.body %></textarea>
</p>