<h1>Articles</h1>

<div>
  <table>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td><td></td>
        <td><%= link_to "Show" , article_path(article) %> | </td>
        <td><%= link_to "Edit", edit_article_path(article) %> | </td>
        <td><%= link_to "Delete", article, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
</div>

<br>
<div>
  <%= link_to "New Article", new_article_path %>
</div>